@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Rubik";
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
  padding: 4rem 2rem;
}
body .card__header {
  grid-area: header;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}
body .card__header__profile {
  display: flex;
  gap: 1rem;
  background-color: hsl(246, 80%, 60%);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 1rem;
}
body .card__header__profile--image {
  width: 25%;
  height: 25%;
  border: 3px solid white;
  border-radius: 50%;
}
body .card__header__profile__title--reason {
  color: hsl(236, 100%, 87%);
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
body .card__header__profile__title--name {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}
body .card__header__period {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}
body .card__header__period .link:hover {
  color: white;
  cursor: pointer;
}
body .card__header__period .link:visited:not(:hover) {
  color: var(--clr-primary-100);
}
body section {
  max-width: 400px;
  width: 100%;
}
body .work {
  grid-area: work;
}
body .work .dashboard {
  background-color: hsl(15, 100%, 70%);
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .work .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .work .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .work .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .work .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .work .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .work .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .work .dashboard .card__second-row__weekly {
  display: none;
}
body .work .dashboard .card__second-row__monthly {
  display: none;
}
body .work .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .work .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body .play {
  grid-area: play;
}
body .play .dashboard {
  background-color: hsl(195, 74%, 62%);
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .play .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .play .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .play .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .play .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .play .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .play .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .play .dashboard .card__second-row__weekly {
  display: none;
}
body .play .dashboard .card__second-row__monthly {
  display: none;
}
body .play .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .play .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body .study {
  grid-area: study;
}
body .study .dashboard {
  background-color: hsl(348, 100%, 68%);
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .study .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .study .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .study .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .study .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .study .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .study .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .study .dashboard .card__second-row__weekly {
  display: none;
}
body .study .dashboard .card__second-row__monthly {
  display: none;
}
body .study .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .study .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body .exercise {
  grid-area: exercise;
}
body .exercise .dashboard {
  background-color: hsl(145, 58%, 55%);
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .exercise .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .exercise .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .exercise .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .exercise .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .exercise .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .exercise .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .exercise .dashboard .card__second-row__weekly {
  display: none;
}
body .exercise .dashboard .card__second-row__monthly {
  display: none;
}
body .exercise .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .exercise .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body .social {
  grid-area: social;
}
body .social .dashboard {
  background-color: hsl(264, 64%, 52%);
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .social .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .social .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .social .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .social .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .social .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .social .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .social .dashboard .card__second-row__weekly {
  display: none;
}
body .social .dashboard .card__second-row__monthly {
  display: none;
}
body .social .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .social .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body .self-care {
  grid-area: self-care;
}
body .self-care .dashboard {
  background-color: hsl(43, 84%, 65%);
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: right 7% top -15%;
  padding-top: 2rem;
  border-radius: 15px;
}
body .self-care .dashboard .card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.25rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
body .self-care .dashboard .card__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .self-care .dashboard .card__first-row__title {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
body .self-care .dashboard .card__first-row .icon-ellipsis {
  width: 30px;
  height: 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23BBC0FF' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
body .self-care .dashboard .card__first-row .icon-ellipsis:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm8 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
body .self-care .dashboard .card__second-row__daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .self-care .dashboard .card__second-row__weekly {
  display: none;
}
body .self-care .dashboard .card__second-row__monthly {
  display: none;
}
body .self-care .dashboard .card__second-row .current {
  color: white;
  font-weight: 300;
  font-size: 2rem;
}
body .self-care .dashboard .card__second-row .previous {
  color: hsl(236, 100%, 87%);
  font-size: 0.8rem;
}
body footer {
  display: none;
}

@media screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(2, 10rem);
    grid-template-areas: "header work play study" "header exercise social self-care";
    gap: 1.5rem;
    height: calc(100vh - 1px);
    padding: 10rem 7rem;
    place-content: center;
  }
  body .card__header {
    align-self: start;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
  }
  body .card__header__profile {
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
    justify-content: unset;
  }
  body .card__header__profile--image {
    width: 40%;
  }
  body .card__header__profile__title--name {
    font-size: 1.5rem;
  }
  body .card__header__period {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 1rem;
  }
  body .work {
    height: 100%;
  }
  body .work .dashboard {
    height: 100%;
    position: relative;
  }
  body .work .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .work .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .work .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .work .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
  body .play {
    height: 100%;
  }
  body .play .dashboard {
    height: 100%;
    position: relative;
  }
  body .play .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .play .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .play .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .play .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
  body .study {
    height: 100%;
  }
  body .study .dashboard {
    height: 100%;
    position: relative;
  }
  body .study .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .study .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .study .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .study .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
  body .exercise {
    height: 100%;
  }
  body .exercise .dashboard {
    height: 100%;
    position: relative;
  }
  body .exercise .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .exercise .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .exercise .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .exercise .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
  body .social {
    height: 100%;
  }
  body .social .dashboard {
    height: 100%;
    position: relative;
  }
  body .social .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .social .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .social .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .social .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
  body .self-care {
    height: 100%;
  }
  body .self-care .dashboard {
    height: 100%;
    position: relative;
  }
  body .self-care .dashboard .card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 1rem;
    justify-content: space-between;
  }
  body .self-care .dashboard .card__second-row__daily {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
  body .self-care .dashboard .card__second-row__daily--current {
    margin-bottom: 0.2rem;
    font-size: 2.5rem;
  }
  body .self-care .dashboard .card:hover {
    background-color: hsl(235, 45%, 61%);
  }
}/*# sourceMappingURL=styles.css.map */