@import "globals";
@import "variables";
@import "mixins";

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $clr-very-dark-blue;
    padding: 4rem 2rem;

    .card__header {
        grid-area: header;
        background-color: $clr-dark-blue;
        border-radius: 15px;
        max-width: 400px;
        width: 100%;
        
        &__profile {
            display: flex;
            gap: 1rem;
            background-color: $clr-blue;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            padding: 1rem;

            &--image {
                width: 25%;
                height: 25%;
                border: 3px solid white;
                border-radius: 50%;
            }

            &__title {
                &--reason {
                    color: $clr-pale-blue;
                    font-weight: $regular-weight;
                    font-size: .8rem;
                    margin-bottom: .1rem;
                }

                &--name {
                    color: white;
                    font-weight: $light-weight;
                    font-size: 1.2rem;
                }
            }
        }

        &__period {
            display: flex;
            gap: 2rem;
            padding: 1rem;
            justify-content: space-around;
            align-items: center;
            font-size: .8rem;

            .link:hover {
                color: white;
                cursor: pointer;
            }

            .link:visited:not(:hover) {
                color: var(--clr-primary-100);
            }
        }
    }

    section {
        max-width: 400px;
        width: 100%;
    }

    .work {
        grid-area: work;
        @include dashboard($clr-light-red-work, url("../images/icon-work.svg"));
    }

    .play {
        grid-area: play;
        @include dashboard($clr-soft-blue-play, url("../images/icon-play.svg"));
    }

    .study {
        grid-area: study;
        @include dashboard($clr-light-red-study, url("../images/icon-study.svg"));
    }

    .exercise {
        grid-area: exercise;
        @include dashboard($clr-lime-green-exercise, url("../images/icon-exercise.svg"));
    }

    .social {
        grid-area: social;
        @include dashboard($clr-violet-social, url("../images/icon-social.svg"));
    }

    .self-care {
        grid-area: self-care;
        @include dashboard($clr-soft-orange-self-care, url("../images/icon-self-care.svg"));
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(2, 10rem);
        grid-template-areas: 
            "header work play study"
            "header exercise social self-care";
        gap: 1.5rem;
        height: calc(100vh - 1px);
        padding: 10rem 7rem;
        place-content: center;

        .card__header {
            align-self: start;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70% 30%;
            
            &__profile {
                flex-direction: column;
                gap: 2.5rem;
                align-items: flex-start;
                justify-content: unset;

                &--image {
                    width: 40%;
                }

                &__title {
                    &--name {
                        font-size: 1.5rem;
                    }
                }
            }

            &__period {
                flex-direction: column;
                gap: .5rem;
                align-items: flex-start;
                padding: 1rem;
            }
        }

        .work {
            @include dashboard-desktop;
        }

        .play {
            @include dashboard-desktop;
        }

        .study {
            @include dashboard-desktop;
        }

        .exercise {
            @include dashboard-desktop;
        }

        .social {
            @include dashboard-desktop;
        }

        .self-care {
            @include dashboard-desktop;
        }
    }
}