@import "globals";
@import "variables";
@import "mixins";

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $clr-very-dark-blue;
    padding: 4rem 2rem;
    color: $clr-pale-blue;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card__header {
            grid-area: header;
            background-color: $clr-dark-blue;
            border-radius: 15px;
            max-width: 300px;
            
            &__profile {
                display: flex;
                gap: 1rem;
                background-color: $clr-blue;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                padding: 1rem;

                &--image {
                    width: 20%;
                    border: 3px solid white;
                    border-radius: 50%;
                }

                &__title {
                    &--reason {
                        color: $clr-pale-blue;
                        font-weight: $regular-weight;
                        font-size: .8rem;
                        margin-bottom: .1rem;
                    }

                    &--name {
                        color: white;
                        font-weight: $light-weight;
                        font-size: 1.2rem;
                    }
                }
            }

            &__period {
                display: flex;
                gap: 2rem;
                padding: 1rem;
                justify-content: space-around;
                align-items: center;
                font-size: .8rem;
                
                [role="tab"] {
                    background-color: $clr-dark-blue;
                    border: none;
                    color: $clr-pale-blue;
                    transition: box-shadow 0.2s ease-in-out;
                }

                [role="tab"]:focus {
                    box-shadow: 0 0 15px .2rem $clr-desaturated-blue;
                    outline: none;
                }

                [role="tab"]:where([aria-selected="true"], :hover, :focus, :focus-within) {
                    color: white;
                    cursor: pointer;
                }

                
            }
        }

        .panel-containers {
            [role="tabpanel"][aria-hidden="true"] {
                display: none;
            }

            .timecards {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .work {
                    grid-area: work;
                    @include dashboard($clr-light-red-work, url("../images/icon-work.svg"));
                }
            
                .play {
                    grid-area: play;
                    @include dashboard($clr-soft-blue-play, url("../images/icon-play.svg"));
                }
            
                .study {
                    grid-area: study;
                    @include dashboard($clr-light-red-study, url("../images/icon-study.svg"));
                }
            
                .exercise {
                    grid-area: exercise;
                    @include dashboard($clr-lime-green-exercise, url("../images/icon-exercise.svg"));
                }
            
                .social {
                    grid-area: social;
                    @include dashboard($clr-violet-social, url("../images/icon-social.svg"));
                }
            
                .self-care {
                    grid-area: self-care;
                    @include dashboard($clr-soft-orange-self-care, url("../images/icon-self-care.svg"));
                }
            }
        }
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    body {
        flex-direction: column;
        gap: 1.5rem;
        height: calc(100vh - 1px);
        padding: 10rem 7rem;
        align-items: center;

        .container {
            flex-direction: row;

            .card__header {
                display: flex;
                flex-direction: column;
                width: 10rem;

                &__profile {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: unset;
                    flex-grow: 1;

                    &--image {
                        width: 40%;
                    }

                    &__title {
                        &--name {
                            font-size: 1.5rem;
                        }
                    }
                }

                &__period {
                    flex-direction: column;
                    gap: .5rem;
                    align-items: flex-start;
                    padding: 1rem;
                }
            }

            .panel-containers {
                .timecards {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: 
                        "work play study"
                        "exercise social self-care";
                    place-content: center;
                    gap: 1rem;

                    .work {
                        @include dashboard-desktop;
                    }

                    .play {
                        @include dashboard-desktop;
                    }

                    .study {
                        @include dashboard-desktop;
                    }

                    .exercise {
                        @include dashboard-desktop;
                    }

                    .social {
                        @include dashboard-desktop;
                    }

                    .self-care {
                        @include dashboard-desktop;
                    }
                }
            }
        }

        footer {
            display: block;
        }
    }
}